.sign{
    height:50px;
    width:auto;
    object-fit:cover;
}
.navouter{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    z-index:100;
    position:fixed;
    top:0;
    width:100%;
}
.right,
.right1 {
    display:flex;
    width:500px;
    justify-content: space-evenly;

}
.right button,
.right1 button{
    background-color: transparent;
    color:grey;
    font-weight:400;
    font-size: 18px;
    border:none;
    padding:3px 0px;
    -webkit-text-stroke: rgb(153,153,153);
}
.right button:hover{
   /* border-bottom: 1px solid white;*/
    color:white;
    cursor:pointer;
}
.nav_toggler{
    display:none;
   height:44px;
   width:44px;
   /*display:flex;*/
   background-color: white;
   border-radius: 5px;
   cursor:pointer;
   border:none;
   z-index:1000;
   justify-content: center;
   align-items:center;
}
.nav_toggler:focus{
    box-shadow:0 0 15px rgba(255,255,255,0.5);
}
.nav_toggler span{
    height:2px;
    width:20px;
    background-color:black;
    display:block;
    margin:auto;
    position:relative;
    transition:all 0.3s ease;
}
.nav_toggler span:before,
.nav_toggler span:after{
    content:"";
    position: absolute;
    left:0px;
    top:0px; 
    width:100%;
    height:100%;
    background-color: black;
    transition:all 0.3s ease;

}
.nav_toggler span:before{
    transform:translateY(-6px);
}
.nav_toggler span:after{
    transform:translateY(6px);
}
.navactive span:before{
    transform:rotate(45deg);
}
.navactive span:after{
    transform:rotate(150deg);

}
.navactive span{
    background-color:transparent;
}
@media (max-width:500px){
    .right{
        display:none;
    }
    .nav_toggler{
    display:flex;
}
.right1{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    background-color: rgb(0,0,0,0.764);
    height:100vh;
}
}
